# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\BD_WAF_8080\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
